@import url("https://fonts.googleapis.com/css?family=Montserrat");

.profile-card {
  font-family: Montserrat, sans-serif;
  display: flex;
  margin: 1.5rem;
}

h3 {
  margin: 10px 0;
  font-size: 2rem;
}

h6 {
  font-size: 1.2rem;
  text-transform: uppercase;
}

p {
  font-size: 1.3rem;
  font-weight: 400;
}

.card-container {
  background-color: #231e39;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #b3b8cd;
  padding-top: 15px;
  width: 350px;
  max-width: 100%;
  text-align: center;
}

.minor-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1rem;
  text-align: left;
}

.minor-details > h6 {
  margin-bottom: 10px;
}
.details {
  display: flex;
  padding: 0 15px;
  align-items: center;
}
.card-container .pro {
  color: #231e39;
  background-color: #febb0b;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 7px;
  top: 30px;
  left: 30px;
}

.card-container .round {
  border: 1px solid #03bfcb;
  border-radius: 50%;
  padding: 7px;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
button {
  cursor: pointer;
}
button.primary {
  background-color: #03bfcb;
  border: 1px solid #03bfcb;
  border-radius: 3px;
  color: #231e39;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding: 10px 25px;
}

button.primary.ghost {
  background-color: transparent;
  color: #02899c;
}

.skills {
  background-color: #1f1a36;
  text-align: left;
  padding: 15px;
  margin-top: 1.5rem;
}

.skills > h6 {
  margin-bottom: 5px;
}
.skills ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skills ul li {
  border: 1px solid #2d2747;
  border-radius: 2px;
  display: inline-block;
  font-size: 12px;
  margin: 0 7px 7px 0;
  padding: 7px;
}
